body, header, aside, main, div, img, p, footer {
	margin: 0;
	padding: 0;
}
header, aside, footer {
	text-transform: uppercase;
	color: #F9FE69;
	font-size: 22px;
}
body {
	background-color: #F7F5EC;
}
.container {
	width: 90%;
	margin-left: 5%;
}
header {
	padding: 24px 0px;
	background-color: #522637;
	text-align: center;
}
.box {
	background-color: #FCFAC2;
	position: relative;
	min-height: 1400px;
}
aside {
	background-color: #E3881C;
	width: 15%;
	height: 700px;
	box-shadow: 5px 5px 0 black;
}
li {
	margin: 10px;
}
a {
	line-height: 45px;
	display: block;
}
a.active {
	text-decoration: none;
	color: #522637;
}
a:hover {
	color: #522637;
}
#left {
	position: absolute;
	top: 10px;
	left: 5%;
}
main div {
	background-color: #DCDAD4;
	width: 72.5%;
}
img, p {
	display: inline-block;
}
h1 {
	text-align: center;
}
h3 {
	font-size: 30px;
	padding: 15px;
	border: 5px dashed red;
	font-weight: bold;
}
p {
	width: 650px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	padding: 20px;
}
#title {
	position: absolute;
	left: 22.5%;
	text-align: center;
	color: #F61111;
	background-color: #FCFAC2;
	font-size: 20px; 
	font-family: bold;
}
#one {
	position: absolute;
	left: 22.5%;
	top: 190px;
	border: 1px solid black;
	margin: 10px 0;
	box-shadow: 5px 5px 25px black;
	height: 600px;
}
#two {
	position: absolute;
	left: 22.5%;
	top: 850px;
	text-align: right;
	border: 2px dotted red;
	margin: 10px 0;
	box-shadow: 5px 5px 25px red;
}
footer {
	background-color: #F11035;
	text-align: center;
	padding: 20px 0px;
}

